/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


#root {
  background-image: url("images/rs-background.jpg");
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
}
